@import url('https://fonts.googleapis.com/css2?family=Asap:wght@200;300;500;600&display=swap');

/*---- Main Font ----*/

body {
    font-family: 'Asap', sans-serif;
}

/*---- Hero Image ----*/

#hero-image {
    background: url(../images/kiltheroimage2.jpg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 700px) {
    #hero-image {
        height: 350px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/*---- Home Heading ----*/

#home-heading {
    text-align: center;
    margin: 30px 7vw;
    text-transform: uppercase;
}

#home-heading-p {
    text-align: center;
    margin: 30px 7vw;
    line-height: 30px;
    margin-bottom: 30px;
}

/*---- Customer Reviews ----*/

#customer-reviews {
    background-color: #9d080b;
    text-align: center;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 5px;
}

#customer-reviews p {
    margin: 20px 7vw;
    font-weight: 200;
}

#customer-reviews h3 {
    text-transform: uppercase;
    font-weight: 300;
}

#customer-reviews i {
    padding-right: 5px;
}

/*---- Kilt Hire Products ----*/

.page-heading {
    padding-top: 10px;
    padding-bottom: 20px;
}

.vertical-center-align {
    align-self: center;
}

.red-background-correction {
    background-color: #ba171a;
}

#kilt-hire-image-1 {
    background: url(../images/kilthireproduct1.jpg) center no-repeat;
    background-size: auto;
    background-size: cover;
    height: 400px;
    padding: 25px;
}

#kilt-hire-image-2 {
    background: url(../images/kilthireproduct2.jpg) center no-repeat;
    background-size: auto;
    background-size: cover;
    height: 400px;
    padding: 25px;
}

#kilt-hire-image-3 {
    background: url(../images/kilthireproduct3.jpg) center no-repeat;
    background-size: auto;
    background-size: cover;
    height: 400px;
    padding: 25px;
}

#kilt-hire-desc-1 {
    background-color: #ba171a;
    color: rgb(238, 235, 235);
    padding: 25px;

}

#kilt-hire-desc-2 {
    background-color: #ba171a;
    color: rgb(238, 235, 235);
    padding: 25px;
}

#kilt-hire-desc-3 {
    background-color: #ba171a;
    color: rgb(238, 235, 235);
    padding: 25px;
}

@media only screen and (min-width: 1200px) {
    #kh-products-large {
        width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }
}

#kh-products-large {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 768px) {
    #kilt-hire-image-1 {
        order: 1;
    }

    #kilt-hire-desc-1 {
        order: 2;
    }

    #kilt-hire-image-2 {
        order: 3;
    }

    #kilt-hire-desc-2 {
        order: 4;
    }

    #kilt-hire-image-3 {
        order: 5;
    }

    #kilt-hire-desc-3 {
        order: 6;
    }
}

#kilt-hire-desc-1 h3,
#kilt-hire-desc-2 h3,
#kilt-hire-desc-3 h3 {
    padding-bottom: 20px;
}

/*---- About Us ----*/



/*---- Footer ----*/

.footer {
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer-hr {
    border-top: solid 3px #9d080b;
    width: 20%;
}

.i-footer-heading {
    padding-right: 4px;
}

.footer-social-icon {
    height: 1rem;
    font-size: 1.8em;
    padding: 0 6px;
}

.footer-social-icon:hover {
    color: #9d080b;
    transition: 0.4s;
}

footer a {
    color: inherit !important;
    text-decoration: none !important;
}